@font-face {
  font-family: "blockberthold";
  src: url("../fonts/blockberthold.ttf") format("truetype");
}

body {
  margin: 1.5em;
  margin-top: 6em;
  font-family: "blockberthold";
  font-weight: 100;
  background-color: #fefbe3;
}
