.dishes-section {
  margin-top: 2em;
  padding: 0 2em;
}

.dishes-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.dishes-section-container-box {
  display: flex;
  row-gap: 1em;
  justify-content: center;
  align-items: center;
  width: 30em;
  background-color: rgb(63, 63, 63);
  padding: 0.6em;
  border-radius: 1em;
  color: antiquewhite;
}

.dishes-section-container-box-dishinfo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1em;
}
.dishes-section-container-box-dishinfo-img img {
  width: 7em;
  height: 7em;
  object-fit: cover;
  border-radius: 1em;
}

.dishes-section-container-box-buybtn button {
  background-color: rgb(196, 16, 16);
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 1em;
  font-family: "blockberthold";
}

.dish-section-empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
