.search-section-container {
  background-color: #d51519;
  padding: 5em 2em;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-section-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-section-container-title p {
  margin: 0;
}
.search-section-container-title h1 {
  font-size: 3em;
  padding: 0;
  margin-top: 0;
}

.searchbar {
  height: 2em;
  width: 20em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: #fefbe3;
}
form{
  display: flex;
  column-gap: 0.3em;
  align-items: center;
}
.search-form-btn {
  height: 2.2em;
  background-color: black;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border:none;
  color: #fefbe3;
  font-family: "blockberthold";
  font-size: 0.87em;
}
